# Packaged Stuff #
*.exe

# Config files
src/config/config.json
.settings/*
.jshintrc
.project

# Bower Components #
src/public/components/*
!src/public/components/README.md

# Node Modules #
src/node_modules/*
!src/node_modules/README.md

# DB #
data/db/*
!**/README.md

# Tests #
src/public/maps
src/**/test/
!src/tests/

# Logs #
*.log

# Other files #
*desktop.ini
*thumbs.db
.bower.json
.codelite/

# Mail login #
src/config/mail.json

# SSL (Https Certificate) #
!src/ssl/
src/ssl/*
!src/ssl/cert_chain/
!src/ssl/default/
!src/ssl/README.md

*.prefs

*.workspace
.tern-project
*.tern-port
