# Packaged Stuff #
# *.exe

# Config files
# src/config.json

# Some folders #
src/build
src/public/css
src/public/js

# Node Stuff #
src/node_modules

# Sublime Stuff #
*.sublime-workspace

# Tests #
src/test/OLD/*.txt

# Logs #
*.log

# Other files #

# Mail login #
src/config/mail.json
