# Packaged Stuff #
# *.exe

# Config files
# src/config.json

# Some folders #

# Node Stuff #
# src/node_modules

# Tests #
src/test/OLD/*.txt

# Logs #
*.log

# Other files #
*desktop.ini
*thumbs.db

# Mail login #
src/config/mail.json
*.prefs
