<!-- Modified version of cookie-element for preventing overwritten value changes in initialiasation -->

<!--
@element cookie-element
@blurb Element to set and read cookie values
@status alpha
-->

<script>
  (function() {
    var EXPIRE_NOW = 'Thu, 01 Jan 1970 00:00:00 GMT';
    var FOREVER = 'Fri, 31 Dec 9999 23:59:59 GMT';
    var cookieProps = ['expires', 'secure', 'max-age', 'domain', 'path'];
    Polymer({
      is: 'cookie-element',
      properties: {
        name: {
          type: String
        },

        value: {
          notify: true
        },

        expires: {
          type: String,
          value: FOREVER
        },

        secure: {
          type: Boolean,
          value: false
        },

        domain: {
          type: String
        },

        path: {
          type: String
        },

        maxAge: {
          type: Number
        }
      },

      _parseCookie: function() {
        var pairs = document.cookie.split(/\s*;\s*/);
        var map = pairs.map(function(kv) {
          var eq = kv.indexOf('=');
          return {
            name: unescape(kv.slice(0, eq)),
            value: unescape(kv.slice(eq + 1))
          };
        });
        var nom = this.name;
        return map.filter(function(kv){ return kv.name === nom; })[0];
      },

      load: function() {
        var kv = this._parseCookie();
        if (kv) {
          var value = JSON.parse(kv.value);
          this.set("value", value);
          return value;
        }
      },

      isCookieStored: function() {
        return Boolean(this._parseCookie());
      },

      deleteCookie: function() {
        this.expires = EXPIRE_NOW;
      },

      _prepareProperties: function() {
        var prepared = '';
        for (var i = 0, k; i < cookieProps.length; i++) {
          k = cookieProps[i];
          if (this[k]) {
            prepared += (';' + k + '=' + this[k]);
          }
        }
        return prepared;
      },

     save: function(value) {
        if (value) {
          this.value = value;
        }
        if (this.name && this.value) {
          try {
            document.cookie = escape(this.name) + '=' + escape( JSON.stringify(this.value) ) + this._prepareProperties();
          }
          catch (err) {
            console.warn(err.message);
          }
        }
      }
    });
  })();
</script>
