<dom-module id="dropdown-selector">
  <template strip-whitespace>

  <style>
    :host {
    }
    button-element#selected {
      align-self: center;
      border-bottom-width: medium;
      border-bottom-style: solid;
      border-bottom-color: var(--bright-primary-color);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    button-element {
      --ripple-color: var(--bright-primary-color);
      width: 100%;
    }

  </style>

    <button-element label="[[label]]" unfloated-label="{{selected}}" id="selected" on-tap="toggle">
      <content select="iron-icon"></content>
      <section>[[selected]]</section>
      <iron-icon id="arrow" class="right" icon="arrow-drop-down"></iron-icon>
    </button-element>
    <dropdown-element id="dropdown" for="selected" horizontal="[[horizontal]]">
      <content select=""></content>
    </dropdown-element>
  </template>

  <script>
    Polymer({
      is: 'dropdown-selector',

      behaviors: [Polymer.IronSelectableBehavior],

      properties: {
        label: {
          type: String,
          value: ""
        },
        horizontal: {
          type: Boolean,
          value: false
        }
      },

      listeners: {
        "iron-select": "toggle"
      },

      toggle: function() {
        if (this.$.arrow.icon === 'arrow-drop-down')
          this.$.arrow.set('icon','arrow-drop-up');
        else
          this.$.arrow.set('icon','arrow-drop-down');
      }

    });
  </script>
</dom-module>
