<dom-module id="dropdown-selector">
  <template strip-whitespace>

  <style>
    :host {
      box-sizing: border-box;
      position: relative;
      display: block;
      outline: none;
    }
    section.container {
      display: block;
      outline: none;
    }
    button-element#button {
      border-bottom: 1px solid rgba(0,0,0, 0.12);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      outline: none;
      padding: 0.75em 1em;
      --ripple-color: var(--bright-primary-color);
    }

    label {
      position: absolute;
      pointer-events: none;
      left: 1em;
      top: 1.25em;
      line-height: normal;
      color: rgba(0, 0, 0, 0.26);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    section.focusline {
      background-color: var(--bright-primary-color);
      height: 2px;
      width: 5%;
      bottom: 0;
      left: 45%;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease
    }

    button-element#button:focus ~ section.focusline {
      visibility: visible;
      width: 100%;
      left: 0;
    }

    button-element#button.set ~ label {
      visibility: visible;
      left: 1.334em;
      top: 0.25em;
      font-size: 0.75em;
      color: var(--primary-color);
    }

  </style>

    <section class="container">
      <button-element id="button" on-tap="toggleIcon" name="button">
        <content select="iron-icon"></content>
        <section>[[selected]]</section>
        <iron-icon id="arrow" class="right" icon="arrow-drop-down"></iron-icon>
      </button-element>
      <label hidden="[[!label]]" for="button">[[label]]</label>
      <section class="focusline"></section>
    </section>
    <dropdown-element id="dropdown" for="button" horizontal="[[horizontal]]">
      <content></content>
    </dropdown-element>
  </template>

  <script>
    Polymer({
      is: 'dropdown-selector',

      behaviors: [Polymer.IronSelectableBehavior],

      properties: {
        label: {
          type: String,
          value: ""
        },
        horizontal: {
          type: Boolean,
          value: false
        },
        value: {
          type: String,
          value: "",
          reflectToAttribute: true
        }
      },

      hostAttributes: {
        role: 'select',
        tabindex: '0'
      },

      listeners: {
        "iron-select": "_onSelect"
      },

      _onSelect: function() {
        this.value = this.selected;
        if (this.value === '') {
          this.$.button.classList.remove('set')
        } else {
          this.$.button.classList.add('set')
        }
        this.toggleIcon();
      },
      toggleIcon: function() {
        if (this.$.arrow.icon === 'arrow-drop-down')
          this.$.arrow.set('icon','arrow-drop-up');
        else
          this.$.arrow.set('icon','arrow-drop-down');
      }

    });
  </script>
</dom-module>
