<dom-module id="list-element">
  <style>
    :host {
      position: relative;
      box-sizing: border-box;
      border-radius: 5px;
      color: #f1f1f1;;
      overflow: hidden;
      outline: none;
      font-family: Fira Sans Light;
      font-weight: normal;
      -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
      align-self: stretch;
      display: flex;
      flex-direction: row;
      background: white;
      border-radius: inherit;
      border: thin solid #BBBBBB;
    }
    :host[dark] {
      background: #a8a8a8;
      border-color: #606060;
    }
    section#value.null {
      background: #1BD939; color: #f1f1f1;
    }
    section#value.true {
      background: #D91B1B; color: #f1f1f1;
    }
    section#value.false {
      background: #920bad; color: #f1f1f1;
    }
    section#value.undefined {
      background: #c3ab12; color: #1f1f1f;
    }
    section#value.true iron-icon, section#value.true iron-icon {
      will-change: transform;
    }
    section#value[dark]{
      color: #d3d3d3;
    }
    section#value {
      text-shadow: 0px 0px 1px #1f1f1f;
      padding: 0em 1em;
      min-width: 48px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span.valueSection {
      font-size: 1em;
    }
    span.unitSection {
      font-family: Fira Sans Light;
      font-size: 0.65em;
      padding-left: 0.25em;
    }
    span.dateSection {
      font-family: Fira Sans Light;
      font-size: 0.6em;
      margin: auto 0;
      padding: 1em;
      color: #1f1f1f;
      min-width: 30px;
    }
    section.caption {
      color: #1f1f1f;
      line-height: 1.4;
      padding: 0.75em;
      margin: auto;
      white-space: nowrap;
    }
    section.caption[dark] {
      color: #1d1d1d;
    }
    iron-icon.sign {
      --iron-icon-height: 1em;
      --iron-icon-width: 1em;
      color: currentColor;
      animation-name: exceed-animation;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    @keyframes exceed-animation {
        0%   {transform: scale(1);}
        33%  {transform: scale(1.10);}
        100% {transform: scale(1);}
    }
    #ripple {
      color: #1d1d1d;
    }
    span.captions {
      margin-right: 0.25em;
    }
  </style>
  <template>
    <section class="caption">
      <template id="captiontemplate" is="dom-repeat" items="{{captionKeys}}" as="captionKey">
        <span id="[[key]]" class="captions" style$="[[computeCaptionStyle(index)]]">{{getKey(captionKey, element.keys.*)}}</span>
      </template>
    </section>

    <section id="value" class="actualValueSection">
      <template is="dom-if" if="{{!element.isBoolean}}" restamp>
        <span class="valueSection">{{computeY(element.values.*,0)}}</span><span class="unitSection">[[element.unit]]</span>
      </template>
      <template is="dom-if" if="{{element.isBoolean}}" restamp>
        <span class="iconSection" hidden$="{{!isExceeding}}">
          <iron-icon class="sign" icon="error-outline"></iron-icon>
        </span>
      </template>
    </section>

    <template is="dom-if" if="{{showDate}}" restamp>
      <span class="dateSection">{{computeX(element.values.*,0)}}</span>
    </template>

  </template>

  <script>

    SignElement = Polymer({
      is: 'list-element',

      behaviors: [ElementBehavior],

      properties: {
        showDate: {
          type: Boolean,
          value: true,
          reflectToAttribute: true
        },
        horizontal: {
          type: Boolean,
          value: true,
          reflectToAttribute: true
        },
        showCaption: {
          type: Boolean,
          value: true,
          reflectToAttribute: true
        }
      },

      // attached: function() {
      //   this.linkPaths("isExceeding", "element.isExceeding");
      //   this.notifyPath('isExceeding', this.element.isExceeding);
      // },

      observers: [
        "_handleExceeding(element.isExceeding)"
      ],

      _handleExceeding: function(value) {
        if (this.element && this.element.values) {
          this.isExceeding = value;
          this.$.value.classList.remove('true');
          this.$.value.classList.remove('false');
          this.$.value.classList.remove('null');
          this.$.value.classList.remove('undefined');
          this.$.value.classList.add(this.element.values[0].exceeds);
        }
      }

    });
  </script>

</dom-module>
