<dom-module id="sign-element">
  <style>
    :host {
      position: relative;
      box-sizing: border-box;
      border-radius: 2px 2px 2px 3px;
      border: thin solid #BBBBBB;
      color: #f1f1f1;;
      overflow: hidden;
      display: flex;
      outline: none;
      font-family: Fira Sans Light;
      font-weight: normal;
      -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
      -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
      background: transparent;
      font-size: 1em;
      line-height: 1;
      align-self: stretch;
    }
    :host[dark] {
      border-color: #5a5a5a;
    }
    section#mainContent {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    section#mainContent[horizontal] {
      flex-direction: row;
    }
    section#sign {
      border-radius: 2px 2px 0px 0px;
      cursor: pointer;
      box-shadow: inherit;
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: 4em;
      min-width: 5em;
    }
    section#sign[horizontal] {
      border-radius: 2px 0px 0px 3px;
    }
    @media all and (max-width: 480px) {
      section#sign {
        min-width: 4em;
      }
    }
    section#sign.null {
      background: #1BD939; color: #f1f1f1;
    }
    section#sign.true {
      background: #D91B1B; color: #f1f1f1;
    }
    section#sign.false {
      background: #301BD9; color: #f1f1f1;
    }
    section#sign.undefined {
      background: #D9CB1B; color: #1f1f1f;
    }
    section#sign[dark]{
      color: #d3d3d3;
    }
    section.actualValueSection {
      display: flex;
      flex: 1;
      background: linear-gradient(180deg,rgba(255,255,255,0),rgba(230,230,230,0.2),rgba(255,255,255,0));
      padding: 0.25em;
      line-height: 1.5em;
      justify-content: center;
      align-items: center;
    }
    section.valueSection {
      font-size: 1.5em;
    }
    section.unitSection {
      margin-left: 0.25em;
      font-family: Fira Sans Light;
      font-size: 0.8em;
    }
    section.dateSection {
      font-family: Fira Sans Light;
      font-size: 0.6em;
      color: #5a5a5a;
      align-self: center;
      margin-bottom: 0.5em;
    }
    section.caption {
      border-radius: 0px 0px 2px 3px;
      background: white;
      color: #1f1f1f;
      line-height: 1.5;
      padding: 0.25em 0.75em 0.5em 0.5em;
      flex: 1;
      border-top: thin solid #BBBBBB;
    }
    section.caption[horizontal]{
      border-top: none;
      border-left: thin solid #BBBBBB;
      border-radius: 0px 2px 2px 0px;
    }
    section.caption[dark] {
      background: #a8a8a8;
      border-color: #606060;
      color: #1d1d1d;
    }
    iron-icon {
      --iron-icon-height: 1.5em;
      --iron-icon-width: 1.5em;
      color: currentColor;
      animation-name: exceed-animation;
      animation-duration: 2s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }
    @keyframes exceed-animation {
        0%   {transform: scale(1);}
        33%  {transform: scale(1.10);}
        100% {transform: scale(1);}
    }
    #ripple {
      color: #1d1d1d;
    }
    span.captions {
      float: left;
      clear: both;
    }
  </style>
  <template>
    <section id="mainContent" horizontal$="{{horizontal}}">

      <section id="sign" horizontal$="{{horizontal}}">
        <paper-ripple id="ripple"></paper-ripple>

        <section class="actualValueSection">
          <template is="dom-if" if="{{!element.isBoolean}}" restamp>
            <section class="valueSection">{{computeY(element.values.*,0)}}</section><section class="unitSection">[[element.unit]]</section>
          </template>
          <template is="dom-if" if="{{element.isBoolean}}" restamp>
            <section class="iconSection" hidden$="{{!isExceeding}}">
              <iron-icon icon="error-outline"></iron-icon>
            </section>
          </template>
        </section>

        <template is="dom-if" if="{{showDate}}" restamp>
          <section class="dateSection">{{computeX(element.values.*,0)}}</section>
        </template>
      </section>

      <template is="dom-if" if="{{showCaption}}" restamp>
        <section class="caption" horizontal$="{{horizontal}}">
          <template id="captiontemplate" is="dom-repeat" items="{{captionKeys}}" as="captionKey">
            <span id="[[key]]" class="captions" style$="[[computeCaptionStyle(index)]]">{{getKey(captionKey, element.keys.*)}}</span>
          </template>
        </section>
      </template>

    </section>
  </template>

  <script>

    SignElement = Polymer({
      is: 'sign-element',

      behaviors: [ElementBehavior],

      properties: {
        showDate: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        horizontal: {
          type: Boolean,
          value: false,
          reflectToAttribute: true
        },
        showCaption: {
          type: Boolean,
          value: true,
          reflectToAttribute: true
        }
      },

      // attached: function() {
      //   this.linkPaths("isExceeding", "element.isExceeding");
      //   this.notifyPath('isExceeding', this.element.isExceeding);
      // },

      observers: [
        "_handleExceeding(element.isExceeding)"
      ],

      _handleExceeding: function(value) {
        if (this.element && this.element.values) {
          this.isExceeding = value;
          this.$.sign.classList.remove('true');
          this.$.sign.classList.remove('false');
          this.$.sign.classList.remove('null');
          this.$.sign.classList.remove('undefined');
          this.$.sign.classList.add(this.element.values[0].exceeds);
        }
      }

    });
  </script>

</dom-module>
