<dom-module id="table-element">
  <style>
    :host {
      /*height needs to be set by outer element*/
      font-family: Fira Sans Light;
      font-weight: normal;
    }
    section#mainContent {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: white;
      color: #1f1f1f;
    }
    section#mainContent[dark] {
      background: #a8a8a8;
      color: #1d1d1d;
    }
    section#content{
      height: 100%;
      min-width: 10em;
      border-collapse: collapse;
      text-align: center;
      font-size: 0.7em;
      overflow: hidden;
    }
    section#head {
      height: 2.5em;
      line-height: 2.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    section#tr {
      line-height: 1.8em;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    section#tr.null {
      background: none; color: #1f1f1f;
    }
    section#tr.true {
      background: rgb(255, 21, 41); color: #f1f1f1;
    }
    section#tr.false {
      background: rgb(255, 20, 110); color: #f1f1f1;
    }
    section#tr.undefined {
      background: rgb(236, 249, 97); color: #1f1f1f;
    }
    section#body {
      border-top: thin solid #8c8c8c;
      width: 100%;
      height: calc(100% - 2.5em);
      overflow-x: auto;
      overflow-y: scroll;
    }
    section#td {
      font-size: 1em;
    }
    section#td.x {
      min-width: 3.5em;
    }
    section#tr:hover {
      background-color: rgba(137, 137, 137, 0.25) !important;
      color: #1f1f1f !important;
    }
    section#th, section#td{
      padding: 0em 1em;
      display: flex;
      white-space: nowrap;
    }
  </style>
  <template>
    <section id="mainContent">
      <section id="content">
        <section id="head">
          <section id="td" class="x">Datum</section>
          <section id="td" class="y">Wert</section>
        </section>
        <section id="body">
          <template is="dom-repeat" id="values" items="[[element.values]]" index-as="i">
            <section id="tr">
              <section id="td" class="x">[[computeX(element.values.*,i)]]</section>
              <section id="td" class="y">[[computeY(element.values.*,i)]]</section>
            </section>
          </template>
        </section>
      </section>
    </section>
  </template>

  <script>

    Polymer({
      is: 'table-element',

      behaviors: [ElementBehavior],

      observers: [
        "_handleExceeding(element.isExceeding)"
      ],

      _handleExceeding: function(value) {
        if (this.element && this.element.values) {
          this.isExceeding = value;
          // this.$.tr.classList.remove('true');
          // this.$.tr.classList.remove('false');
          // this.$.tr.classList.remove('null');
          // this.$.tr.classList.remove('undefined');
          // this.$.tr.classList.add(this.element.values[0].exceeds);
        }
      },

      properties: { }
    });

  </script>

</dom-module>
