<link rel="import" href="../behaviors/element-behavior.html">
<dom-module id="table-element">
  <style>
    :host {
      /*height needs to be set by outer element*/
      font-family: Fira Sans Light;
      font-weight: normal;
      display: flex;
      flex-direction: column;
      height: inherit;
      background: white;
      color: #1f1f1f;
      min-width: 10em;
      text-align: center;
      font-size: 0.7em;
      overflow: hidden;
      border-top-color: #408B45;
      cursor: default;
      z-index: auto;
    }
    :host[dark] {
      background: #a8a8a8;
      color: #1d1d1d;
    }
    section#head {
      height: 2.5em;
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      align-items: center;
    }
    section#tr {
      height: 1.6em;
      line-height: 1.6em;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: thin solid transparent;
    }
    section#tr.null:hover {
      background-color: rgba(137, 137, 137, 0.25) !important;
      color: #1f1f1f !important;
    }
    section#tr.null {
      background: none; color: #1f1f1f;
    }
    section#tr.true {
      background: #D91B1B; color: #f1f1f1;
    }
    section#tr.false {
      background: #920bad; color: #f1f1f1;
    }
    section#tr.undefined {
      background: #c3ab12; color: #1f1f1f;
    }
    section#tr:hover {
      border: thin solid #BBBBBB;
    }
    section#body {
      border-top: thin solid #BBBBBB;
      width: 100%;
      flex: 1;
      overflow-x: auto;
      overflow-y: scroll;
    }
    section#body[dark] {
      border-color: #808080;
    }
    section#td {
      font-size: 1em;
    }
    section#td.x {
      min-width: 3.5em;
    }
    section#th, section#td{
      padding: 0em 1em;
      white-space: nowrap;
    }
  </style>
  <template>
    <section id="head">
      <section id="td" class="x">Datum</section>
      <section id="td" class="y">Wert</section>
    </section>
    <section id="body">
    </section>
  </template>

  <script>

    TableElement = Polymer({
      is: 'table-element',

      behaviors: [ElementBehavior],

      factoryImpl: function(element, bubbles, dark) {
        this.setElement(element);
        if (bubbles === true)
          this.bubbles = true;
        if (dark) {
          this.setAttribute("dark", true);
          this.$.body.setAttribute("dark", true);
        }
      },

      _updateView: function(value, splices) {
        var body = Polymer.dom(this.$.body);
        var row, tdX, tdY, isExceeding, index, tdI;
        if (value === undefined && splices.start !== undefined && splices.end !== undefined) {
          for (var i = splices.end; i > splices.start; i--) {
            if (body.children[i])
            body.removeChild(body.children[i]);
          }
        }
        else if (Array.isArray(value)) {
          this.setValues(value);
        }
        else if (value) {
          row = document.createElement('section');
          row.id = "tr";
          tdX = document.createElement('section');
          tdX.id = "td"; tdX.className = "x";
          tdX.textContent = new Date(value.x).toLocaleTimeString();
          tdY = document.createElement('section');
          tdY.id = "td"; tdY.className = "y";
          isExceeding = (value.exceeds === null) ? false : true;
          tdY.textContent = (this.isBoolean ? (isExceeding ? '✗' : '✓') : value.y);

          row.className = value.exceeds;
          row.appendChild(tdX); row.appendChild(tdY);
          body.insertBefore(row, body.childNodes[0]);
        }
      },

      setValues: function(values) {
        // this.set('values', values);
        var body = Polymer.dom(this.$.body);
        while (body.lastChild) {
          body.removeChild(body.lastChild);
        }

        if (values.length !== 0) {
          var row, tdX, tdY, isExceeding, tdI;

          for (var j = values.length-1; j >=0 ; j--) {
            row = document.createElement('section');
            row.id = "tr";

            tdX = document.createElement('section');
            tdX.id = "td"; tdX.className = "x";
            tdX.textContent = new Date(values[j].x).toLocaleTimeString();
            tdY = document.createElement('section');
            tdY.id = "td"; tdY.className = "y";
            isExceeding = (values[j].exceeds === null) ? false : true;
            tdY.textContent = (this.isBoolean ? (isExceeding ? '✗' : '✓') : values[j].y);

            row.className = values[j].exceeds;
            row.appendChild(tdX); row.appendChild(tdY);
            body.insertBefore(row, body.childNodes[0]);
          }
          Polymer.dom.flush();
        }
      }
    });

  </script>

</dom-module>
