<link rel="import" href="../behaviors/element-behavior.html">
<dom-module id="table-element">
  <style>
    :host {
      /*height needs to be set by outer element*/
      color: var(--primary-text-color);
      display: flex;
      height: inherit;
      text-align: center;
      font-size: 0.75em;
      line-height: 1.5em;
      overflow: hidden;
      cursor: default;
      z-index: auto;
      background: white;
      border-color: #BBBBBB;
    }
    :host[dark] {
      background: #a8a8a8;
      border-color: #808080;
    }
    section#table {
      display: flex;
      flex-direction: column;
      border-color: inherit;
    }
    section#caption {
      font-size: 0.9em;
      font-weight: bold;
      padding: 0em 1.5em;
    }
    section#head {
      display: flex;
      flex-direction: row;
      flex-shrink: 0;
      align-items: center;
      line-height: 2em;
      border-bottom-style: solid;
      border-bottom-width: thin;
      border-color: inherit;
    }
    section#tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: thin solid transparent;
    }
    section#tr.null {
      background: none; color: inherit;
    }
    section#tr.null:nth-child(even) {
      background-color: rgba(137, 137, 137, 0.15);
    }
    section#tr.true {
      background: #D91B1B; color: var(--bright-text-color);
    }
    section#tr.false {
      background: #920bad; color: var(--bright-text-color);
    }
    section#tr.undefined {
      background: #c3ab12; color: inherit;
    }
    section#body {
      width: 100%;
      flex: 1;
      overflow-x: auto;
      overflow-y: scroll;
    }
    section#td {
      font-size: 1em;
      padding: 0em 0.75em;
      white-space: nowrap;
    }
    section#td.x {
      min-width: 3.5em;
    }
  </style>
  <template>
    <section id="table">
      <section id="caption">[[caption]]</section>
      <section id="head" hidden$="[[hideHeader]]">
        <section id="td" class="x">Datum</section>
        <section id="td" class="y">Wert</section>
      </section>
      <section id="body">
      </section>
    </section>
  </template>

  <script>

    TableElement = Polymer({
      is: 'table-element',

      behaviors: [ElementBehavior],

      properties: {
        caption: {
          type: String,
          value: ""
        },
        highlightExceeding: {
          type: Boolean,
          value: false
        },
        hideHeader: {
          type: Boolean,
          value: false
        },
        showFullDate: {
          type: Boolean,
          value: false
        },
        hideOverflow: {
          type: Boolean,
          value: false
        }
      },

      factoryImpl: function(element, highlightExceeding, hideHeader, hideOverflow, bubbles, dark) {
        this.setElement(element);
        if (highlightExceeding === true)
          this.set("hideHeader", hideHeader);
        if (hideHeader === true)
          this.set("highlightExceeding", highlightExceeding);
        if (hideOverflow === true)
          this.set("hideOverflow", hideOverflow);
        if (bubbles === true)
          this.bubbles = true;
        if (dark) {
          this.setAttribute("dark", true);
          this.$.body.setAttribute("dark", true);
        }
      },

      attached: function() {
        if (this.hideOverflow) {
          this.$.body.style.overflow = 'hidden';
        }
      },

      _updateView: function(value, splices) {
        var body = Polymer.dom(this.$.body);
        var row, tdX, tdY, isExceeding, index, tdI;
        if (value === undefined && splices.start !== undefined && splices.length !== undefined) {
          for (var i = splices.length + splices.start; i > splices.start; i--) {
            if (body.children[i])
              body.removeChild(body.children[i]);
          }
        }
        else if (Array.isArray(value)) {
          this.setValues(value);
        }
        else if (value) {
          row = document.createElement('section');
          row.id = "tr";
          tdX = document.createElement('section');
          tdX.id = "td"; tdX.className = "x";
          tdX.textContent = (this.showFullDate ? new Date(value.x).toLocaleString() : new Date(value.x).toLocaleTimeString());
          tdY = document.createElement('section');
          tdY.id = "td"; tdY.className = "y";
          isExceeding = (value.exceeds === null) ? false : true;
          tdY.textContent = (this.isBoolean ? (isExceeding ? '✗' : '✓') : value.y);

          if (this.highlightExceeding)
            row.className = value.exceeds;

          row.appendChild(tdX); row.appendChild(tdY);
          body.insertBefore(row, body.childNodes[0]);
        }
      },

      setValues: function(values) {
        this.values = values;
        var body = Polymer.dom(this.$.body);
        while (body.lastChild) {
          body.removeChild(body.lastChild);
        }

        if (values.length !== 0) {
          var row, tdX, tdY, isExceeding, tdI;

          for (var j = values.length-1; j >=0 ; j--) {
            row = document.createElement('section');
            row.id = "tr";

            tdX = document.createElement('section');
            tdX.id = "td"; tdX.className = "x";
            tdX.textContent = (this.showFullDate ? new Date(values[j].x).toLocaleString() : new Date(values[j].x).toLocaleTimeString());
            tdY = document.createElement('section');
            tdY.id = "td"; tdY.className = "y";
            isExceeding = (values[j].exceeds === null) ? false : true;
            tdY.textContent = (this.isBoolean ? (isExceeding ? '✗' : '✓') : values[j].y);

            if (this.highlightExceeding)
              row.className = values[j].exceeds;
            row.appendChild(tdX); row.appendChild(tdY);
            body.insertBefore(row, body.childNodes[0]);
          }
          Polymer.dom.flush();
        }
      }
    });

  </script>

</dom-module>
