//- Mixin to create tabs
mixin dividerTab(url, name)
	li.divider
	mixin tab(url, name)

mixin dropdownTab(url, name, droplist)
	li.divider
	li.has-dropdown
		a(href=url)= name
		ul.dropdown
			each val, key in droplist
				li: a(href=val)= key

mixin tab(url, name)
	- if(locals.currentURL === url)
		li.active: a(href=url)= name
	- else
		li: a(href=url)= name

// Navigationbar
nav.top-bar
	ul.title-area
		li.name
			h1: a(href='/') TITLE
		li.toggle-topbar.menu-icon
			a(href='#'): span

	section.top-bar-section
		ul.left
			mixin dividerTab('/index', 'Home')
			mixin dividerTab('/data', 'Data')
			mixin dividerTab('/graphs', 'Graphs')