extends ../graph_layout

prepend canvas
	.row
		.small-6.columns
			a(href='#', style='margin-top:1ex;')#interruptButton.button.small Interrupt
		.small-6.columns(align='right')
			span#noDataLabel.label.alert No Data available.
			form#linecountForm.custom
				label Graphs
				#linecount

append script
	if locals.env == 'development'
		script(src='js/graphs/graphs/line.js')
	else
		script(src='js/graphs/graphs/line.min.js')