extends ../graph_layout

prepend canvas
	.row
		.small-6.columns
			a(href='#', style='margin-top:1ex;')#interruptButton.button.small Interrupt
		.small-6.columns(align='right')
			span#noDataLabel.label.alert No Data available.
			select#selectBox

append script
	script(src='js/graphs/graphs/select.js')
	script(src='js/jquery.customSelect.min.js')