extends layout

append content
	.row
		.small-12.columns
			center
				h2
					| Error 404
					br
					small Page not found
				img(src='/img/404fry.png', style='margin-top:10ex')
		//-.small-12.columns
			center
				h2
					| Error 303 Page not found
				h2.subheader
					| Uuuhm ... I mean 404. Ignore the 303.

				br
				br

				h4: .small
					| Seriosly ... Just ignore it.