head
  <!-- Meta-Tag: Set the viewport-->
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1, user-scalable=yes"/>
    
  title 404 - webvisual

  //- link(href='css/index.css', type='text/css', rel='stylesheet')
  // jQuery
  //- script(src='js/jquery/jquery-2.1.3.js')
  // Eigene Plugins

  <!-- Imported Elements and Scripts -->
  <link rel="import" href="imports.html"/>
  <!-- CSS Style -->
  <link href="css/404.css" type="text/css" rel="stylesheet"/>


body(class="horizontal layout center-justified center")
  link(href='css/404.css', type='text/css', rel='stylesheet')
  paper-material(elevation='4', class="main")
    section(style='font-size: 60px; font-family: Lobster; font-weight: 100')
      a(href='/index.html')
        paper-fab(icon='juelich:logo')#logo
      <span>Error 404</span>
    section(style='font-size: 32px;') Page not found
    section(style='font-size: 16px;') return to main page
