extends layout

block content
  .row
    .small-12.columns
      center
        h2
          | Error 404
          br
          small Page not found
        img(src='/img/404fry.png', style='margin-top:10ex')
