extends layout

block style
	style
		.data.header {
			float: left;
		}
		.data.subheader {
			float: right;
		}
		a.actice {
			font-weight:bold;
		}

block content
	.row
		.large-12.columns
			h1.data.header Visualisierung
			h4.data.subheader: div#hideHeader &#215;
			hr
	.row
		.large-3.columns
			.section-container.accordion(data-section)
				.section.active
					p.title(data-section-title): a(href="#") Graphentyp 1
					.content(data-section-content)
						ul.side-nav
							li.active: a(href='#type1-sub1').graph-link Subtyp 1.1
							li: a(href='#type1-sub2').graph-link Subtyp 1.2
							li: a(href='#type1-sub3').graph-link Subtyp 1.3
				.section
					p.title(data-section-title): a(href="#") Graphentyp 2
					.content(data-section-content)
						ul.side-nav
							li: a(href='#type2-sub1').graph-link Subtyp 2.1
							li: a(href='#type2-sub2').graph-link Subtyp 2.2
							li: a(href='#type2-sub3').graph-link Subtyp 2.3
				.section
					p.title(data-section-title): a(href="#") Graphentyp 3
					.content(data-section-content)
						ul.side-nav
							li: a(href='#type3-sub1').graph-link Subtyp 3.1
							li: a(href='#type3-sub2').graph-link Subtyp 3.2
							li: a(href='#type3-sub3').graph-link Subtyp 3.3


		.large-9.columns
			.content-box
				p Content