<<<<<<< HEAD
link(rel='import', href='elements/post-card.html')
extends layout

block content
  post-card
    p Welcome to #{title}
  include inhalt

block script
  script(src='js/dateFormat.js')
  script(src='js/jquery/jquery-2.1.3.js')
  script(src='js/jquery.dateFormat.js')
  script(src='js/data_processor/data_processor.js',type='text/javascript')
=======

extends layout

block content

  post-card#p3(headline="Test-Postcard")
    value-watcher()
    include inhalt
>>>>>>> develop
