
extends layout

block content

  value-collection-demo()
  //- music-demo()
  //- value-sign-collection()
    //- include inhalt

  script.
    document.addEventListener("dataLoaded", function(event){
      console.log("dataLoaded ready");
      $("value-collection-demo").attr("receive", JSON.stringify(event.detail));
    });
