doctype html
html
  head
    title Webvisual Login
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes')
    script(src='components/webcomponentsjs/webcomponents-lite.js')
    script.
      window.Polymer = {
        dom: 'shady',
        lazyRegister: true
      };
    link(rel='import', href='components/polymer/polymer.html')
    link(rel="import", href="elements/style/app-theme.html")
    link(rel='import', href='elements/imports.html')
  style(is="custom-style", include="app-theme").
    body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      background: var(--bright-primary-color);
      white-space: nowrap;
      display: flex;
    }
    
  body
    dom-module#login-form
      template
        style.
          :host {
            position: relative;
            box-sizing: border-box;
            font-size: 1em;
            padding: 1.5em;
            margin: auto;
            width: auto;
            height: auto;
            color: var(--bright-text-color);
          }
          h1 {
            font-weight: normal;
            font-size: 2em;
            margin: 0.5em 0em;
            text-align: center;
          }
          input-element {
            padding: 0.4em 1em;
            font-size: 0.9em;
            color: var(--primary-text-color);
            --input-label: {
              text-align: center;
            };
            --form-valid: var(--primary-color);
          }
          input-element#username {
            --input-inner: {
              text-align: end;
              width: 50%;
              padding: 0.75em 2px 0.5em 0.25em;
            };
            --input-suffix: {
              padding: 0.75em 0.5em 0.5em 0em;
              font-size: 0.8em;
            };
          }
          input-element#password {
            --input-inner: {
              text-align: center;
            };
          }
          section.input {
            background: var(--bright-text-color);
            border-radius: 8px;
          }
          circle-element {
            left: 0;
            right: 0;
            position: absolute;
            bottom: -3em;
            justify-content: center;
          }
          button-element {
            float: right;
            clear: both;
          }
        h1
          | Webvisual Login
        br
        form#login(is='iron-form', method='get', action='/login/')
          section.input
            input-element#username(name='username', type='text', label='Username', required)
              section(suffix)
                != config.server.auth.suffix
          br
          section.input
            input-element#password(name='password', type='password', label='Password', required)
          br
          button-element#submit(raised, name='submit', type='submit', on-tap="_submit")
            iron-icon.left(icon='juelich:logo')
            | Login
          br
          section.output
          br
          circle-element#spinner()
      script.
        window.addEventListener('WebComponentsReady', function(e) {
          Polymer({
            is: 'login-form',
            listeners: {
              'keydown': '_keyHandler',
              'iron-form-presubmit': '_play',
              'iron-form-error': '_stop',
              'iron-form-response': '_response'
            },
            _keyHandler: function(e) {
              switch (e.which) {
                case 13: this._submit(); break;
              }
            },
            _play: function() {
              this.$.spinner.play();
            },
            _stop: function() {
              this.$.spinner.cancel();
            },
            _submit: function() {
              this.$.login.submit();
            },
            _response: function(e) {
              this._stop();
              window.location = e.detail.url;  
            }
          });
        });
    login-form()
