doctype html
html
  head
    title Webvisual Login
    |   
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes')
    |   
    link(href='css/index.css', type='text/css', rel='stylesheet')
  style.
    body {
      font-family: Light;
      display: flex;
      color: #f1f1f1;
      background: radial-gradient(rgba(102, 157, 180,1) 80%,rgba(102, 157, 180,0.8) 100%);
    }
    h1 {
      font-family: Thin;
      font-size: 2em;
      text-align: center;
    }
    form {
      box-sizing: border-box;
      font-size: 1em;
      line-height: 1;
    }
    div.main:before {
      display: table;
      content : ' ';
    }
    div.main {
      box-sizing: border-box;
      min-width: 350px;
      max-width: 500px;
      min-height: 440px;
      max-height: 600px;
      width: 50vw;
      height: 50vh;
      padding: 1.5em 1.5em 1.5em 1.5em;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-left: auto;
    }
    label {
      color: #555;
      box-sizing: border-box;
      font-family: Regular;
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0.8em 1em 0.75em 1em;
      font-size: 1em;
      line-height: 1;
    }
    input {
      box-sizing: border-box;
      font-family: Regular;
      transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      display: block;
      width: 100%;
      padding: 0.75em 1.25em;;
      font-size: 1em;
      line-height: 1;
      color: #555;
      background-color: #fff;
      border: 1px solid #555;
      border-radius: 0.5em;
      outline: 0;
      text-align: start; 
    }
    input:focus {
      border-color: #666;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100, 100, 100,.6);
    }
    section#username {
      display: flex;
      align-items: center;
    }
    section#dnbase {
      white-space: nowrap;
      font-size: 1em;
      padding-left: 0.5em;      
    }
    button {
      morgin-top: 1.5em;
      margin-left: auto;
      box-sizing: border-box;
      font-family: Light;
      display: block;
      padding: 0.75em 1em;;
      font-size: 1em;
      line-height: 1;
      color: #f1f1f1;
      border: thin solid currentColor;
      background: linear-gradient(to bottom, rgba(255,255,255,0.01) 5%,rgba(255,255,255,0.05) 40%);
      transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
      border-radius: 5px;
      outline: 0;
    }
    button:hover {
      background: linear-gradient(to bottom, rgba(255,255,255,0.02) 5%,rgba(255,255,255,0.10) 40%);
    }
    button:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100, 100, 100,.6);
    }
    
    input#password:after {
      content: '@ibn-net.kfa-juelich.de'
    }
  body
    .main
      h1 Webvisual Login
      form#formPost(method='post', action='/login/')
        label(for='username') Username
        section#username   
          input#username(name='username', type='text')
          section#dnbase @ibn-net.kfa-juelich.de         
        label(for='password') Password
        input#password(name='password', type='password')  
        br
        br
        button(type='submit')
          | Login
    |   
    script.
