extends layout

block style
	style.
		.sub {
			font-weight: normal;
			color: #1E90FF
		}

		
block content
	.row
		.small-12.columns
			h1= locals.title
		hr
	.row
		.small-12.columns
			#load
				center: h4.subheader Messwerte werden geladen ...
			#data(style='display:none;')
				.row
					.small-3.columns: h3.sub CLIENT 
					.small-2.columns: h3.subheader Oben
					.small-2.columns: h3.subheader Unten
					.small-offset-5.columns
				.row
					.small-3.columns#namen
					.small-2.columns#werte1
					.small-2.columns#werte2
					.small-offset-5.columns

block script
	script(src='/socket.io/socket.io.js')
	script(src='js/schritte/schritt1.js')