body {
  items-align: center;
  text-align: center;
}
@font-face{
  font-family: Lobster;
  src: url('css/fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
section {
  margin: 8px;
  padding: 16px 12px 16px 12px;
}
body > paper-material.main {
  width: auto;
  text-align: center;
}
paper-fab#logo {
  color: white;
  margin: 0px 16px 0px 0px;
}
