/** General Style **/
html,body {
  background: #E5E5E5;
  color: #1d1d1d;
  font-family: 'Roboto-Regular';
  font-size: 1rem;
  font-weight: 300;
  line-height: 1em;
  width: 100%;
  height: 100%;
}

div, p {
  padding: 0.25em;
}

/**
  Main-Toolbars
  **/


[drawer] {
  background: rgba(255, 255, 255, 0.75);
  font-family: 'Roboto-Regular';
}

[drawer]::shadow #mainContainer {
  margin-right: 8px;
  padding: 4px;
}

#maincontent {
  background: #f1f1f1;
}

/**
  Selectors
  **/
.selected {
  background-color: rgba(100, 100, 100, 0.2);
}

/**
  Tabs
  **/
paper-tabs {
  color: #f1f1f1;
  background: #669DB4;
  text-transform: uppercase;
  font-family: 'Roboto-Regular';
  font-size: 1em;
}

paper-tabs::shadow {
  background-color: #f1f1f1;
  height: 3px;
  border-radius: 3px;
}

paper-tabs /deep/ paper-tab::shadow #ink {
  color: rgba(245, 245, 245, 0.25);
}

paper-tabs /deep/ paper-icon-button {
  color: #f1f1f1;
}

paper-tabs /deep/ paper-tab {
  border-radius: 3px;
}

paper-tabs /deep/ paper-tab:hover {
  background: rgba(255, 255, 255, 0.15);
}

/**
  Items, Buttons and Icons
  **/
paper-item, paper-icon-button {
  padding: 8px;
  border-radius: 3px;
  color: #1d1d1d;
  text-decoration: none;
}

.sidemenu {
  border: thin solid #9f9f9f;
}

.mainmenu {
  border-radius: 20px;
}


paper-item:hover {
  background: rgba(0, 203, 40, 0.15);
}

paper-item::shadow #ripple {
  color: #00ca35;
}

paper-icon-button:hover {
  background: rgba(255, 255, 255, 0.15);
}

paper-icon-button::shadow #ripple {
  color: #00ca35;
}

/**
  Fonts
  **/
@font-face {
  font-family: Roboto-Regular;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Thin;
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Light;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Condensed;
  src: url('fonts/RobotoCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Condensed-Light;
  src: url('fonts/RobotoCondensed-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/**
  Spezifications for certain Views
  **/

@media only screen {
}

@media only screen and (max-width : 650px) {
}

@media only screen and (max-width : 420px) {
}

@media only screen and (max-width : 380px) {
}
