body, html {
  height: 100%;
  width: 100%;
  margin: 0em;
  padding: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
paper-button iron-icon {
  margin-left: 0.5em;
  margin-right: 1em;
  min-width: 1.5em;
}
paper-item iron-icon {
  margin-left: 0.25em;
  margin-right: 1em;
  min-width: 1.5em;
}
paper-button: {
  transition: none;
}
paper-button.sidemenu {
  padding: 1.3em 0.8em;
  border-top: thin solid rgba(200, 200, 200, 0);
  border-bottom: thin solid  rgba(200, 200, 200, 0);
}
paper-button.sidemenu:hover {
  background: linear-gradient(to bottom, rgba(0,0,0,0.02) 5%,rgba(50,50,50,0.10) 40%);
  border-top: thin solid rgba(200, 200, 200, 0.3);
  border-bottom: thin solid  rgba(200, 200, 200, 0.3);
}
paper-button iron-icon.right-icon{
  margin: 0em 0.65em;
  background: rgba(255,255,255, 0.0);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-button iron-icon.right-icon:hover{
  background: rgba(255,255,255, 0.75);
  border-radius: 50%;
}
paper-button .content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
paper-item.sidemenu {
  font-size: 0.85em;
}
paper-slider {
}
paper-item.date {
  font-family: Light;
  font-size: 0.75em;
}
paper-radio-button  {
  display: block;
  padding: 0.5em 1em;
  font-size: 0.85em;
}
paper-toggle-button {
  display: block;
  font-size: 0.85em;
}
.collapse-content paper-button {
  margin: 0em;
}
.indention {
  margin: 0em 0em 0.25em 1.5em;
  width: calc(100% - 1.5em);
  background: rgba(255, 255, 255, 0.5);
  /*border-top: thin solid rgba(170, 170, 170, 0.5);*/
  border-bottom: thin solid rgba(170, 170, 170, 0.5);
}
.collapse-content paper-button {
  width: 100%;
}
.collapse-content paper-toggle-button {
  padding: 0.5em;
}
.collapse-content paper-tabs {
  border-top: thin solid white;
  border-bottom: thin solid white;
}

paper-dialog h2 {
  font-family: Bold !important;
  padding-left: 2em;
}
/*
 * Fonts
 */
@font-face {
 font-family: Regular;
 src: url('fonts/FiraSans-Book.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Light;
 src: url('fonts/FiraSans-ExtraLight.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Thin;
 src: url('fonts/FiraSans-Hair.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: Bold;
 src: url('fonts/FiraSans-SemiBold.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
