.sub {
  font-weight: normal;
  color: #1E90FF;
}
#valueTable{
  border-style: hidden;
}
td:hover{
  background: #e24848;
}
#valCols{
  border-bottom: 1px solid #669db4;
}
.valGroup{
  border-right: 1px solid #669db4;
}

div {
  margin: 0px;
  line-height: 2rem;
}

.collapsible-header {
  height: 2rem;
}

td, th {
  padding: 0.5rem;
}
