.sub {
	font-weight: normal;
	color: #1E90FF;
}
#valueTable{
	border-style: hidden;
}
.valRow:hover{
	background: #D8D8D8;
}
#valCols{
	border-bottom: 1px solid #2a73a6;
}
.valGroup{
	border-right: 1px solid #2a73a6;
}