extends ../../layout

block style
	link(rel='stylesheet', href='css/table.css')
	
block style
	style.
		.sub {
			font-weight: normal;
			color: #1E90FF;
		}
		#valueTable{
			border-style: hidden;
		}
		.valRow:hover{
			background: #D8D8D8;
		}
		#valCols{
			border-bottom: 1px solid #2a73a6;
		}
		.valGroup{
			border-right: 1px solid #2a73a6;
		}

		
block content
	.row
		.small-12.columns
			#title
		hr
	.row
		.small-12.columns
			#load
				center: h4.subheader Messwerte werden geladen ...
			#data(style='display:none;')
				table#valueTable
					tbody#valueTBody
						tr#valCols
							th#valCorner.valGroup

block script
	script(src='js/tables/table.js')