extends ../../layout

block style
    
block content

  post-card#maincard()
               
block script
  script.
    document.addEventListener("dataLoaded", function(event){
      $("#maincard").append("<table-element receive='"+JSON.stringify(event.detail)+"'></table-element>");
      //- $("table-element").attr("receive", JSON.stringify(event.detail));
    });

//-   post-card#in()
//-   div#out
//-   
//-                  
//- block script
//-   script.
//-     document.addEventListener("dataLoaded", function(event){
//-       var d = new Date();
//-       var s = d.getTime();
//-       for (j=1; j<= 100; j++) {      
//-         d = new Date();
//-         m = d.getTime();
//-         for (i=1; i<= 20; i++) {
//-           for (k=1; k<= 10; k++) {
//-             $("#in").append("<paper-item id='"+(i*j*k)+"'>"+(i*j*k)+"</paper-item>");
//-           }
//-         }
//-         d = new Date();
//-         n = d.getTime();
//-         console.log(j + " " + (n-m) + " ms");
//-       }
//-       console.log("complete: " + (n-s) + " ms");
//-     });
