extends ../../layout

block style
  //- link(rel='stylesheet', href='css/table.css')
  //- block tablestyle
    
block content

  post-card(headline="")
    table-logtwo
  //- post-card(headline="")
  //-   table-log  
          
block script
  block tablescript

    
