extends layout

block style
	style.
		span.customSelect { 
			font:18px sans-serif;
			background:#fff url(img/customSelect.arrow.png) right center no-repeat;
			border:1px solid #ddd;
			color:#555;
			padding:7px 9px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px 2px;
			width: 175px;
			height: 2em;
		}
		.customSelect.customSelectHover {
			border-color:#c7c7c7;
			background-color:#f5f5f5;
		}
		//.customSelect.customSelectFocus {
			border-color:Grey;
		}
		.customSelect.customSelectOpen {
			border-color:Black;
		}
		option {
			padding:0px 9px 2px;
		}

block content
	.row
		.small-12.columns: h1= locals.title			
		hr		
	.row
		.small-12.columns
			#load
				center: h4.subheader Messwerte werden geladen ...
			#data(style='display:none;')
				.row
					.small-3.columns 
						select#sel
					.small-offset-9.columns 
				.row
					.small-2.columns.dat
						h3.subheader Oben 
						h3.subheader Unten
					.small-3.columns#werte 
					.small-offset-7.columns
						
block script
	script(src='/socket.io/socket.io.js')
	script(src='js/schritte/schritt2.js')
	script(src='js/jquery.customSelect.min.js')