extends tableLayout

block tablescript
  script(src='js/materialize.js')  
  script(src='js/dateFormat.js')
  script(src='js/jquery/jquery-2.1.3.js')
  script(src='js/jquery.dateFormat.js')
  script(src='js/data_processor/data_processor.js',type='text/javascript')
