h3.subheader= locals.type
hr

- var canvasWidth = 600;
- var canvasHeight = 250;

block canvas_settings

block canvas
	canvas#graph(width=canvasWidth, height=canvasHeight) [No canvas support]

block script