extends ../layout

block content
	.row#header
		.small-12.columns
			- var header = (locals.type.charAt(0).toUpperCase() + locals.type.slice(1))
			h3.subheader.float-left= header
			h4.subheader.float-right
				a(href='#')#hide-header &#215;
			hr
	.row
		.small-12.columns#canvasDiv
			block canvas_style
				height = 300

			#load
				center: h4.subheader Messwerte werden geladen ...
			#data(hidden)
				block canvas
					canvas#graph(height=height) [No canvas support]

block script
	script(src='js/moment/moment.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='js/graphs/graphs.js')

	// RGraph scripts

	// Basis script
	script(src='js/rgraph/RGraph.common.core.js')

	// Just needed for dynamic features (eg tooltips)
	script(src='js/rgraph/RGraph.common.dynamic.js')

	// Just needed for annotating
	script(src='js/rgraph/RGraph.common.annotate.js')

	// Just needed for context menus
	script(src='js/rgraph/RGraph.common.context.js')

	// Just needed for visual effects
	script(src='js/rgraph/RGraph.common.effects.js')

	// Just needed for keys
	script(src='js/rgraph/RGraph.common.key.js')

	// Just needed for resizing
	script(src='js/rgraph/RGraph.common.resizing.js')

	// Just needed for tooltips
	script(src='js/rgraph/RGraph.common.tooltips.js')

	// Just needed for zoom
	script(src='js/rgraph/RGraph.common.zoom.js')

	// Just needed for Bar charts
	script(src='js/rgraph/RGraph.bar.js')

	//- // Just needed for Bi-polar charts
	//- script(src='js/rgraph/RGraph.bipolar.js')

	// Just needed for CornerGauge charts
	script(src='js/rgraph/RGraph.cornergauge.js')

	// Just needed for Fuel charts
	script(src='js/rgraph/RGraph.fuel.js')

	//- // Just needed for Funnel charts
	//- script(src='js/rgraph/RGraph.funnel.js')

	//- // Just needed for Gantt charts
	//- script(src='js/rgraph/RGraph.gantt.js')

	// Just needed for Gauge charts
	script(src='js/rgraph/RGraph.gauge.js')

	//- // Just needed for Horizontal Bar charts
	//- script(src='js/rgraph/RGraph.hbar.js')

	// Just needed for Horizontal Progress bars
	script(src='js/rgraph/RGraph.hprogress.js')

	// Just needed for LED charts
	script(src='js/rgraph/RGraph.led.js')

	// Just needed for Line charts
	script(src='js/rgraph/RGraph.line.js')

	// Just needed for Meter charts
	script(src='js/rgraph/RGraph.meter.js')

	//- // Just needed for Odometers
	//- script(src='js/rgraph/RGraph.odo.js')

	//- // Just needed for Pie AND Donut charts
	//- script(src='js/rgraph/RGraph.pie.js')

	//- // Just needed for Radar charts
	//- script(src='js/rgraph/RGraph.radar.js')

	//- // Just needed for Rose charts
	//- script(src='js/rgraph/RGraph.rose.js')

	//- // Just needed for Rscatter charts
	//- script(src='js/rgraph/RGraph.rscatter.js')

	// Just needed for Scatter charts
	script(src='js/rgraph/RGraph.scatter.js')

	// Just needed for Thermometer charts
	script(src='js/rgraph/RGraph.thermometer.js')

	// Just needed for Vertical Progress bars
	script(src='js/rgraph/RGraph.vprogress.js')

	//- // Just needed for Waterfall charts
	//- script(src='js/rgraph/RGraph.waterfall.js')