[unresolved] {
  opacity: 0;
}

:host {
  position: relative;
  background: #ffffff;
  color: #1d1d1d;
  border-radius: 5px;
  overlay: hidden;
  display: inline-block;
  z-index: 0;
  box-sizing: border-box;
  outline: none;
  border: thin solid #dddddd;
}

@media only screen {
  :host {
    padding: 0.4em;
    margin: 0.3em;
  }
}

@media only screen and (max-width : 640px) {
  :host {
    padding: 0.35em;
    margin: 0.2em;
  }
}

@media only screen and (max-width : 480px) {
  :host {
    padding: 0.3em;
  }
}

@media only screen and (max-width : 420px) {
  :host {
    padding: 0.25em;
    margin: 0.15em;
  }
}

@media only screen and (max-width : 380px) {
  :host {
    padding: 0.2em;

  }
}

:host(:hover) {
  outline: none;
}

#bg, #shadow {
  border-radius: inherit;
}

#ripple {
  color: #c8c8c8;
  pointer-events: none;
}

paper-item#head {
  font-family: Roboto-Light;
  font-size: 0.9em;
  font-weight: 300;
  background: #669DB4;
  color: #f1f1f1;
  width: 100%;
  border-radius: 3px;
}
paper-item#head :hover {
  background: rgba(0, 203, 40, 0.30);
}

paper-item#head::shadow #ripple {
  color: #00ca35;
}

paper-item.top {
  margin-bottom: 0.15em;
}

paper-item.bottom{
  margin-top: 0.15em;
}

#cardMain {
  background: rgba(255, 255, 255, 0);
}

#cardContent {

}
