:host {
  color: #1d1d1d;
  font-family: Roboto-Regular;
  overlay: hidden;
  z-index: 0;
  outline: none;
  width: 100%;
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Roboto-Light;
}

paper-tabs {
  color: #f1f1f1;
  background: #669db4;
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 3px 3px 0px 0px;
  flex: 0 1 auto;
}

#tabs {
  width: 100%;
}

paper-tabs::shadow #selectionBar {
  background-color: #f1f1f1;
  height: 2px;
  border-radius: 5px;
}

paper-tab::shadow #ink {
  color: #9fc7d3;
}

paper-tab /deep/ div.tab-content {
  margin: 0em 0.5em;
  font-weight: normal;
  text-align: left;
}


paper-tabs /deep/ paper-icon-button {
  color: #f1f1f1;
}

paper-tab {
  border-radius: 5px;
  font-weight: normal;
}

paper-tabs /deep/ paper-tab :hover {
  background: rgba(255, 255, 255, 0.50);
}

paper-item.groupTitle:hover {
  background: rgba(0, 203, 40, 0.25);
}

paper-item.tableHead:hover {
  background: rgba(0, 203, 40, 0.25);
}

paper-item::shadow #ripple {
  color: #00ca35;
}

paper-item {
  background: transparent;
  min-width: 20px;
  font-weight: normal;
}

td#values {
}

core-icon-button {
  margin: 0em;
}
core-icon-button::shadow #ripple {
  color: #00ca35;
}

section#main {
  position: relative;
}

@media only screen {
  paper-item, paper-tabs, host {
    font-size: 0.9em;
  }
  paper-tabs {
    padding: 0.1em;
  }
  paper-tab {
    min-width: 100px;
  }
  td {
    font-size: 0.8em;
    padding: 0.5em 0.6em 0.55em;
    border-radius: 2px;
  }
}

@media only screen and (max-width : 650px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.8em;
  }
  paper-tab {
    min-width: 75px;
  }
  td {
    font-size: 0.75em;
    padding: 0.4em 0.5em 0.45em;
  }
}

@media only screen and (max-width : 500px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.75em;
  }
  paper-tabs {
    max-height: 42px;
  }
  paper-tab {
    min-width: 50px;
  }
  paper-item {
    max-heigth: 38px;
  }
  td {
    font-size: 0.7em;
    padding: 0.3em 0.35em 0.35em;
    border-radius: 2px;
  }
}

@media only screen and (max-width : 420px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.7em;
  }
  paper-tab {
    min-width: 45px;
  }
  td {
    font-size: 0.7em;
    padding: 0.2em 0.2em 0.25em;
  }
}

@media only screen and (max-width : 380px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.7em;
  }
  paper-tabs {
    max-height: 38px;
  }
  paper-tab {
    min-width: 45px;
  }
  td {
    font-size: 0.6em;
    padding: 0.15em 0.15em 0.2em;
  }
}

@font-face {
  font-family: Roboto-Regular;
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Light;
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
