[unresolved] {
  opacity: 0;
}

:host {
  color: #1d1d1d;
  font-family: Roboto-Regular;
  font-font-weight: 300;
  overlay: hidden;
  z-index: 0;
  outline: none;
  width: 100%;
}

paper-tabs {
  color: #f1f1f1;
  background: #669db4;
  text-transform: uppercase;
  font-family: 'Roboto-Regular';
  font-size: 0.9em;
  border-radius: 5px;
  font-weight: 150;
}

paper-tabs::shadow #selectionBar {
  background-color: #f1f1f1;
  height: 2px;
  border-radius: 5px;
}

paper-tab::shadow #ink {
  color: rgba(245, 245, 245, 0.25);
  }

paper-tabs /deep/ paper-icon-button {
  color: #f1f1f1;
}

paper-tab {
  border-radius: 5px;
}

paper-tabs /deep/ paper-tab :hover {
  background: rgba(255, 255, 255, 0.50);
}

paper-item.groupTitle:hover {
  background: rgba(0, 203, 40, 0.30);
}

paper-item.groupTitle{
  border: thin solid #e5e5e5;
}

paper-item.tableHead:hover {
  background: rgba(0, 203, 40, 0.15);
}

paper-item::shadow #ripple {
  color: #00ca35;
}

paper-item {
  min-width: 40px;
  font-weight: 500;
}

td#values {
}

@media only screen {
  paper-item, paper-tabs, host {
    font-size: 1em;
  }
  paper-tabs {
    padding: 0.1em;
  }
  paper-tab {
    min-width: 120px;
  }
  td {
    font-size: 0.9em;
    padding: 0.6em 0.7em 0.6em;
  }
}

@media only screen and (max-width : 650px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.9em;
  }
  paper-tab {
    min-width: 90px;
  }
  td {
    font-size: 0.8em;
    padding: 0.5em 0.6em 0.5em;
  }
}

@media only screen and (max-width : 500px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.8em;
  }
  paper-tabs {
    max-height: 48px;
  }
  paper-tab {
    min-width: 72px;
  }
  paper-item {
    max-heigth: 36px;
  }
  td {
    font-size: 0.75em;
    padding: 0.25em 0.35em 0.25em;
  }
}

@media only screen and (max-width : 420px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.8em;
  }
  paper-tabs {
    max-height: 42px;
  }
  paper-tab {
    min-width: 65px;
  }
  td {
    font-size: 0.7em;
    padding: 0.15em 0.2em 0.15em;
  }
}

@media only screen and (max-width : 380px) {
  td, paper-item, paper-tabs, host {
    font-size: 0.6em;
  }
  paper-tabs {
    max-height: 36px;
  }
  paper-tab {
    min-width: 50px;
  }
  td {
    font-size: 0.6em;
    padding: 0.1em 0.15em 0.1em;
  }
}

table {
  width: 100%;
}
