[unresolved] {
  opacity: 0;
}
:host {
  position: relative;
  color: #1d1d1d;
  border-radius: 5px;
  overlay: hidden;
  display: flex;
  z-index: 0;
  outline: none;
  font-family: 'Roboto-Condensed-Light';
  background: transparent;
  user-select: none;
}
.main, #shadow {
  position: relative;
  border-radius: inherit;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: 100%;
}
.valueSection {
  padding-left: 0.15em;
  padding-right: 0.15em;
  font-size: 2.4em;
  font-style: normal;
  font-weight: 300;
}
.unitSection {
  padding-left: 0.3em;
  font-size: 0.4em;
  font-weight: 100;
}
.exceedsSection {
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-weight: 300;
  line-height: 0.8em;
}
.dateSection {
  font-style: italic;
  font-size: 0.7em;
}
.exceedsValueSection {
  padding-left: 0.5em;
  font-style: normal;
  font-size: 0.8em;
}
#ripple {
  color: #1d1d1d;
}
