body, html {
  height: 100%;
  width: 100%;
  margin: 0em;
  padding: 0em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

section#log {
  font-family: "Fira Sans Light", "sans serif";
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: inherit;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5em;
  overflow: hidden;
  cursor: default;
  z-index: auto;
  background: white;
  color: #1f1f1f;
  border-color: #BBBBBB;
}
section#head {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  line-height: 2em;
}
section#tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: thin solid transparent;
}
section#tr:hover {
  border: thin dotted #BBBBBB;
  border-color: inherit;
}
section#tr:active  {
  border: thin solid #BBBBBB;
  border-color: inherit;
}
section#body {
  border-top: thin solid #BBBBBB;
  border-color: inherit;
  width: 100%;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}
section#td {
  font-size: 1em;
  padding: 0em 0.75em;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
}
section#td.date {
  flex-shrink: 0;
  min-width: 3.5em;
  text-align: center;
}


paper-button iron-icon {
  margin-left: 0.5em;
  margin-right: 0.75em;
  min-width: 1.5em;
}
paper-item iron-icon {
  margin-left: 0.5em;
  margin-right: 0.75em;
  min-width: 1.5em;
}
iron-icon {
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-button: {
  border: none;
  border-top: thin solid rgba(200, 200, 200, 0);
  border-bottom: thin solid  rgba(200, 200, 200, 0);
}
paper-button:hover {
  border-top: thin solid rgba(200, 200, 200, 0.3);
  border-bottom: thin solid  rgba(200, 200, 200, 0.3);
  background: linear-gradient(to bottom, rgba(0,0,0,0.02) 5%,rgba(50,50,50,0.10) 40%);
}
paper-button.sidemenu {
  padding: 1.3em 0.8em;
  border-top: thin solid rgba(200, 200, 200, 0);
  border-bottom: thin solid  rgba(200, 200, 200, 0);
  align-items: center;
}
paper-button iron-icon.right-icon{
  margin: 0em 0.65em;
  background: rgba(255,255,255, 0.0);
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-button iron-icon.right-icon:hover{
  background: rgba(255,255,255, 0.75);
  border-radius: 50%;
}
paper-button .content{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
span {
  font-size: inherit;
  padding: 0;
  margin: 0;
}
paper-icon-button {
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
paper-icon-button:hover {
  background: rgba(255,255,255, 0.25);
  color: currentColor;
  border-radius: 50%;
}
paper-item.sidemenu {
  font-size: 0.85em;
}
paper-slider {
}
paper-item.date {
  font-family: Fira Sans Light;
  font-size: 0.75em;
}
paper-radio-button {
  float: left;
  clear: both;
  display: block;
  font-family: Fira Sans Light;
  padding: 0.5em 1em;
  font-size: 0.85em;
}
paper-toggle-button {
  font-size: 0.85em;
}
.collapse-content paper-button {
  margin: 0em;
}
.indention {
  margin: 0em 0em 0.25em 1.5em;
  width: calc(100% - 1.5em);
  background: rgba(255, 255, 255, 0.5);
  /*border-top: thin solid rgba(170, 170, 170, 0.5);*/
  border-bottom: thin solid rgba(170, 170, 170, 0.5);
}
.collapse-content paper-button {
  width: 100%;
}
.collapse-content paper-toggle-button {
  padding: 0.5em;
}
.collapse-content paper-tabs {
  border-top: thin solid white;
  border-bottom: thin solid white;
}
.flex {
  flex: 1;
}
section#mainView {
  position: relative;
  flex: 1;
  overflow: hidden;
}
section#drawerPanel {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  color: #1f1f1f;
  border: 0;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
  -moz-box-sizing: border-box; box-sizing: border-box;
  will-change: transform;
  transition: transform ease-in-out 0.3s, visibility 0.3s;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
}
section#drawerPanel:not(.drawer-opened) {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  /*visibility: hidden;*/
}
section#exceedsPanel {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  max-height: 100%;
  max-width: calc(100% - 0.5em);
  overflow-y: auto;
  overflow-x: hidden;
  color: #1f1f1f;
  border: 0;
  visibility: visible;
  background-color: rgba(241, 241, 241, 0.75);
  align-items: center;
  -moz-box-sizing: border-box; box-sizing: border-box;
  will-change: transform;
  transition: transform ease-in-out 0.3s, visibility 0.3s;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 6px 12px;
  border-bottom-left-radius: 12px;
  cursor: default;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
  z-index: 100;
}
section#exceedsPanel[dark] {
  background-color: rgba(162, 162, 162, 0.5);
}
section#exceedsPanel:not(.exceeds-panel-opened) {
  left: auto;
  visibility: hidden;
  -webkit-transform: translateX(100%); transform: translateX(100%);
}
section#exceedsHeader {
  position: relative;
  overflow: hidden;
  width: auto;
  background-color: #B46674;
  color: #f1f1f1;
}
section#exceedsHeader[dark] {
  background: #753446;
  color: #A8CCDB;
  border-color: #444;
}
section#exceedsHeader .title {
  background: linear-gradient(to right top, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.2));
  width: auto;
  font-size: 1.25em;
  padding: 0.75em 1em;
}
section#exceedsPanel iron-swipeable-container#exceedingElements {
  padding: 0.5em 0.5em 0.25em 0.5em;
}
section#exceedsPanel iron-swipeable-container#exceedingElements list-element {
  margin-bottom: 0.25em;
  border-radius: 12px;
}
section#backdrop {
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  background-color: rgba(18, 12, 11, 0.25);
}
section#backdrop.backdrop-opened {
  visibility: visible;
  opacity: 1;
}
section#mainPanel {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
section#mainContent {
  background: #b5bbb5;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-flex: 1 1 0.000000001px; -webkit-flex: 1; flex: 1;
  flex-basis: 0.000000001px; -webkit-flex-basis: 0.000000001px;
  z-index: auto;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}
section#mainContent[dark] {
  background: #656665;
}

section#dropShadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -6px;
  height: 6px;
  pointer-events: none;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.5s; transition: opacity 0.5s;
  opacity: 0;
}
section#dropShadow.has-shadow {
  opacity: 1;
}
paper-button.sidemenu {
  /*margin: 0.25em 0em;*/
  width: 100%;
  display: flex;
}
paper-radio-button {
  --paper-radio-button-checked-color: #B71C1C;
  --paper-radio-button-checked-ink-color: #B71C1C;
  --paper-radio-button-unchecked-color: #1d1d1d;
  --paper-radio-button-unchecked-ink-color: #1d1d1d;
}
paper-slider {
  --paper-slider-active-color: #1565C0;
  --paper-slider-knob-color: #1565C0;
  --paper-slider-pin-color: #1565C0;
  --paper-slider-knob-start-border-color: #1565C0;
  --paper-slider-knob-start-color: #1565C0;
  --paper-slider-font-color: #1d1d1d;
}
paper-slider {
  --paper-input-container-input {
    font-size: 0.5em;
  };
}
paper-toggle-button {
  --paper-toggle-button-unchecked-bar-color: #333333;
  --paper-toggle-button-unchecked-button-color: #f1f1f1;
  --paper-toggle-button-unchecked-ink-color: #1d1d1d;
  --paper-toggle-button-checked-bar-color:	#FDD835;
  --paper-toggle-button-checked-button-color:	#FDD835;
  --paper-toggle-button-checked-ink-color:	#FDD835;
}
paper-toggle-button#colorschema{
  --paper-toggle-button-checked-bar-color:	#1d1d1d;
  --paper-toggle-button-checked-button-color:	#1d1d1d;
  --paper-toggle-button-checked-ink-color:	#1d1d1d;
}
logo-element#logo {
  position: fixed;
  color: #f1f1f1;
  height: 44px;
  top: 10px;
  bottom: auto;
  left: 80px;
  z-index: 10;
  width: 140px;
}
logo-element#logo[dark] {
  fill: #A8CCDB;
}
section#toolbar {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden !important;
  font-family: Fira Sans Light;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
  -webkit-touch-callout: none; -webkit-tap-highlight-color:rgba(0,0,0,0);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0em;
  padding: 0em;
  background: #005B82;
  color: #f1f1f1;
}
section#toolbar[dark] {
  background: #345475;
  color: #A8CCDB;
}
section#toolbarHeader {
  height: 64px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
section#toolbarHeader paper-icon-button {
  display: inline-block;
}
section#toolbarHeader paper-icon-button.menu-icon {
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: 20px;
}
section#toolbarHeader paper-icon-button.error {
  color: #FF9D9D;
}
section#toolbarHeader div.logo-element-placeholder {
  height: 44px;
  max-width: 140px;
  min-width: 100px;
  flex: 1;
}
section#toolbarHeader section#control {
  display: flex;
  flex-shrink: 0;
  margin-right: 6px;
}
section#toolbarFooter {
  min-height: 0px;
  max-height: 0px;
  display: flex;
  box-sizing: border-box;
  overflow: hidden !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(230, 230, 230, 0.2), rgba(255, 255, 255, 0));
  transition: max-height 150ms linear, min-height 150ms linear;
  will-change: min-height;
  will-change: max-height;
}
section#toolbarFooter[opened] {
  min-height: 150px;
  max-height: 22vh;
}
section#toolbarFooter[opened][expanded] {
  min-height: 300px;
  max-height: 32vh;
}
section#toolbarFooter sign-element {
  border: none;
  flex-shrink: 0;
}
section#toolbarFooter table-element {
  flex-shrink: 0;
}
section#toolbarFooter svg-element {
  background: rgba(255,255,255,0.2);
  border-top: thin solid #669DB4;
  border-bottom: thin solid #669DB4;
}
section#toolbarFooter svg-element[dark] {
  border-top: thin solid #005B82 !important;
  border-bottom: thin solid #005B82 !important;
}
section#toolbarFooter svg-element:not([opened]) {
  position: absolute;
  top: 0;
  left: 0;
}
section#toolbarFooter .selectedElement {
  border-right: thin solid #BBBBBB;
  border-radius: 8px;
}
section#toolbarFooter .selectedElement[dark] {
  border-color: #808080;
}
section#toolbarFooter section#toolbarSelectedElement {
  padding: 2px 6px 4px 6px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
section#svgFullscreenContainer {
  display: flex;
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(52, 84, 117, 0.8);
  transition: opacity ease-in-out 0.5s, visibilty ease-in-out 0.5s;
}
section#svgFullscreenContainer svg-element {
  transform-origin: center;
  transform: scale(0);
  opacity: 0;
  transition: transform ease-in-out 0.3s, opacity ease-in-out 0.5s, visibilty ease-in-out 0.5s;
  --icon-color: rgba(255, 255, 255, 0.8);
  --icon-hover-color: rgba(255, 255, 255, 1);
  --icon-background: rgba(255,255,255, 0.15);
  --icon-hover-background: rgba(255,255,255, 0.4);
}
section#svgFullscreenContainer.fullscreen-opened {
  visibility: visible;
  opacity: 1;
  z-index: 300;
}
section#svgFullscreenContainer.fullscreen-opened svg-element{
  transform: scale(1);
  opacity: 1;
}
/*
 * Fonts
 */

@font-face {
 font-family: Fira Sans Light;
 src: url('fonts/FiraSans-Light.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

/* Polymer Elements Issue */
@font-face {
 font-family: Roboto;
 src: url('fonts/FiraSans-Light.otf') format('truetype');
 font-weight: normal;
 font-style: normal;
}
